@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Make the body take full height */
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Main container for the body content */
.body-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Content area that grows to fill space */
.content {
  flex: 1; /* This ensures content area takes remaining space */
  padding-bottom: 60px; /* Add some space at the bottom to avoid overlap */
}

/* Footer Style */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
