@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Make the body take full height */
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Main container for the body content */
.body-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Content area that grows to fill space */
.content {
  flex: 1; 
  /* padding-bottom: 60px;  */
}

/* Footer Style */
.common-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1f2937;
  color: white;
  padding: 10px;
  font-size: 12px;
}
